body { font-family: arial; font-size: 14px; }
.liveExample { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC;
max-width: 972px; margin:0 auto; padding: 20px }
.liveExample input { font-family: Arial; }
#hh1{ width:400px; margin: 20px auto}
.space1{ padding: 0 1px;
}
.space2{ margin: 0 122px;}
.space3{ margin-left:-10px;}
.space4{ margin-left: 30px;}
.space5{ margin-left: 135px;}
.space6{ margin-left: 115px;}